server_port=4801
http_port=4802
download_server_http_port=4446
idle_timeout=120
game_dir=game
temp_dir=temp
levels_dir=levels
dl_server_path=../download
public_ip_addr=10.0.0.167
game_center_addr=10.0.0.85
game_center_port=80
game_center_target=/test
copy_game=false
admin_password=8C6976E5B5410415BDE908BD4DEE15DFB167A9C873FC4BB8A81F6F2AB448A918
